
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.typ{
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
  background-color: #343f4f;

}
.wrapper{
    display: inline-flex;
}
.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;

}
.wrapper .dynmic-txts{
margin-left: 15px;
height: 90px;
line-height: 90px;

overflow: hidden;
}
.dynamic-txts li{
    color: #fc6d6d;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    animation: slide 1.5s steps(10) infinite;
}

.dynamic-txts li span::after{
    position: relative;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-left: 2px solid #fc6d6d;
    animation:typing 1.5s steps(100) infinite;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;

    }
}