body{
    background-color: rgb(57, 4, 107);
}
h1,h2,h3,h4{
text-align: center;

}
h1{
    font-size: 80px;
    color: white;
}
h2{
    font-size: 50px;
    color: burlywood;
}
h3{
    font-size: 30px;
    color: burlywood;
}
h4{
    color: burlywood; 
}

td{
    /* padding: 50px; */
    width: 1600px;
    text-align: center;
    font-size: 30px;
}
a:visited{
    color: white;
  
}
a{
    text-decoration: none;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
img{
    -ms-ime-align: centre;
}
 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;

  }
  